.home-section{
    background-color: rgb(178, 223, 223);
}

.home-section h2{
    color:black;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 200px;
}

.home-section p{
    color:black;
    line-height: 20px;
}

.img1{
    max-width: 100%;
    height: auto;
    margin-left: 50%;



}

@media only screen and (max-width: 768px) {
    .img1 {
      float: right;
      margin-left: 10px;
      margin-right: 0;
    }
  }

  .home-section2{
    background-color: rgb(126, 149, 224);
}

.home-section2 h2{
    color:black;
    font-size: 2.5rem;
    font-weight: 600;
    margin-top: 200px;
    margin-left: 40%;
}

.home-section2 p{
    margin-top: 5%;
    margin-left: 20%;
    color:black;
    line-height: 20px;
}

.home-section3{
    background-color: rgb(177, 160, 238);
}



.home-section3 p{
    font-size: 1.5rem;
    margin-top: 5%;
    height: autp;
    color:black;
    line-height: 20px;
}

  .img2 {
    max-width: 210%;
    height: auto;
    float: right;
    margin-left: 10px; 
  }
  
  @media only screen and (max-width: 108px) {
    .img2 {
      float: none;
      margin: 0 auto;
    }
  }

  .btn-style{
    color: bisque;
  }

  .btn-style h1{
    color: bisque;
  }

  .btn{
    
    margin-left: 20%;
  }